@import './base.css';

.home {
  & .hero {
    min-height: 75vh;
  }

  & .logo {
    max-width: 500px;
  }

  & .footer-sponsor-logo {
    max-width: 200px;
    filter: brightness(0) invert(1);
    margin-left: 8px;
  }
}
