:root {
  --red-default: #C32B3E;
  --red-light: #FB0E59;
  --red-lighter: #FD9BBA;
}

::selection {
  color: white;
  background-color: var(--red-default);
}

.text-name {
  @apply border-b-2 border-red-dark px-1 bg-red-100 italic;
}

.text-highlight {
  @apply px-1 bg-yellow-100;
}

.text-link {
  @apply underline text-red visited:text-red-darker;
}

.text-email {
  @apply underline text-red;
}

.button--primary {
  @apply inline-flex items-center text-lg py-3 px-5 rounded bg-red active:bg-red-dark active:ring-2 active:ring-red-lighter hover:bg-red-dark text-white;
}

.field-required {
  &::after {
    content: '*';
    @apply text-red;
  }
}

.filter-invert-100 {
  filter: invert(100%);
}

.filter-saturate-0 {
  filter: saturate(0%);
}

/* need to state explicitly for font magician to work */
body {
  font-family: 'Crimson Text', 'Georgia', 'Arial', serif;
}
